VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_FIRESTORE_DATABASE_ID=
GEMINI_API_KEY=
WHATSAPP_API_TOKEN=
WHATSAPP_PHONE_BASE_ID=
MIKROTIK_HOST=
MIKROTIK_USER=
MIKROTIK_PASS=
